<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" />
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="styles/site.css">
</head>
<body layout="row" ng-cloak>
    <!--
      Your HTML content here
    -->
    <div layout="row" layout-fill data-state="{{ $state.current.data.rootState }}">
        <md-sidenav class="md-sidenav-left" ng-class="{ 'collapsed' : $mdMedia('gt-sm') ? sidenavCollapsed : true }" md-component-id="left" md-is-locked-open="true" md-disable-backdrop md-whiteframe="-1">
            <div layout="column">
                <md-nav-bar aria-label="sidebar navigation">
                    <md-nav-item name="logo" class="logo" md-nav-href="/">
                        <img src="/images/mo/logo.png" alt="logo" aria-label="logo" />
                    </md-nav-item>
                </md-nav-bar>
                <md-list>
                    <md-list-item>
                        <md-button class="menu" ng-click="sidenavCollapsed = !sidenavCollapsed">
                            <md-icon md-svg-icon="menu_white" aria-label="menu" alt="menu"></md-icon>
                        </md-button>
                    </md-list-item>
                    <md-list-item ng-repeat="item in $state.current.data.menu">
                        <md-button ui-sref="{{ item.state }}" ng-class="{ 'md-active': includesMenuState(item.state) }">
                            <md-icon md-svg-icon="menu_{{ item.icon }}{{ includesMenuState(item.state) ? '_black' : '_white' }}" aria-label="{{ item.icon }}" alt="{{ item.icon }}"></md-icon>{{ item.title }}
                        </md-button>
                    </md-list-item>
                </md-list>
            </div>
        </md-sidenav>

        <div flex layout="column">
            <!-- Sticky header -->
            <md-nav-bar md-selected-nav-item="currentNavItem" aria-label="navigation">
                <span flex></span>
                <md-nav-item md-nav-sref="dashboard.dashboard1.home" ng-class="{ 'md-active' : $state.includes('dashboard') }" md-active="'dashboard' | includedByState" name="dashboard">Dashboard</md-nav-item>
                <!--<md-nav-item md-nav-sref="config.calendars.home" ng-class="{ 'md-active' : $state.includes('config') }" name="config">Config</md-nav-item>-->
                <md-nav-item md-nav-sref="setup.machine.home" ng-class="{ 'md-active' : $state.includes('setup') }" name="setup">Setup</md-nav-item>
                <!--<md-nav-item md-nav-sref="analysis.statistics.home" ng-class="{ 'md-active' : $state.includes('analysis') }" name="analysis">Analysis</md-nav-item>-->
            </md-nav-bar>

            <div class="content" style="">
                <!-- Main Content with scrolling content -->
                <md-content flex>
                    <div layout="column" layout-fill="" layout-align="top start">
                        <md-content style="width:100%">
                            <ui-view></ui-view>
                        </md-content>
                    </div>
                    <div flex=""></div>
                </md-content>
            </div>

            <!--<div ng-if="$state.current.data.actions.length > 0">
                <div class="action-bar" layout="column">
                    <md-list flex layout="row" layout-align="start center">
                        <md-list-item ng-repeat="item in $state.current.data.actions">
                            <md-button class="md-list-item-content md-icon-button" ui-sref="{{ item.state }}">
                                <md-icon md-svg-icon="action_{{ item.icon }}{{ $state.is(item.state) ? '_white' : '_black' }}" aria-label="{{ item.icon }}" alt="{{ item.icon }}"></md-icon>
                            </md-button>
                        </md-list-item>
                    </md-list>
                </div>
            </div>-->
        </div>
    </div>



    <!-- Angular Material requires Angular.js Libraries -->
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="node_modules/angular-material/angular-material.js"></script>

    <!-- Your application bootstrap  -->
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="node_modules/angular-resource/angular-resource.js"></script>
    <script src="node_modules/chart.js/dist/Chart.js"></script>

    
    <script src="scripts/app/app.js"></script>
    <!--<script src="scripts/app.main.js"></script>
    <script src="scripts/app.config.material.js"></script>
    <script src="scripts/app.config.routes.js"></script>
    <script src="scripts/app.constants.js"></script>
    <script src="scripts/app.run.js"></script>

    <script src="scripts/dashboard/_dashboard.js"></script>
    <script src="scripts/dashboard/dashboard1/_dashnoard1.js"></script>
    <script src="scripts/setup/_setup.js"></script>
    <script src="scripts/setup/machine/_machine.js"></script>-->
    <script type="text/javascript">

    /**
     * You must include the dependency on 'ngMaterial'
     */
        angular.bootstrap(document, ["sbAdminApp"]);
    </script>

</body>
</html>